.sectioncursos{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.ttextcursos{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
    font-weight:bold;
    color: #00b90b;
    letter-spacing: 0.5px;
    text-align: center;
}
.flex-container {
    width: 100%;
    height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
    overflow: hidden;
  }
  .flex-container > div{
    background: #D9D9D9;
    border: none;
    width: 100px; 
    height: 100px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  .flex-namecurso {
    width: 100%;
    height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
    overflow: hidden;
    margin:0 auto;
    font-weight: bold;
    color:black;
    font-size: 0.8em;
    text-align: center;
  }
  .flex-container1 {
    width: 100%;
    height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
    overflow: hidden;
    padding-top: 30px;
  }
  .flex-container1 > div{
    background: #D9D9D9;
    border: none;
    width: 100px; 
    height: 100px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  .flex-namecurso1 {
    width: 100%;
    height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
    overflow: hidden;
    margin:0 auto;
    font-weight: bold;
    color:black;
    font-size: 0.8em;
    text-align: center;
  }