.sectionwelcome{
    width: 100%;
    height: 230px;
    display: flex;
    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, #26ACD0 0%, #20AEB3 17%, #1AB092 32%, #0FB458 64%, #01B90E 100%); 
    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, #26ACD0 0%, #20AEB3 17%, #1AB092 32%, #0FB458 64%, #01B90E 100%);
    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, #26ACD0 0%, #20AEB3 17%, #1AB092 32%, #0FB458 64%, #01B90E 100%);
    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01B90E', endColorstr='#26ACD0', GradientType=0 );
    /* ie 10+ */
    background:-ms-linear-gradient(90deg, #26ACD0 0%, #20AEB3 17%, #1AB092 32%, #0FB458 64%, #01B90E 100%);
    /* global 94%+ browsers support */
    background:linear-gradient(90deg, #26ACD0 0%, #20AEB3 17%, #1AB092 32%, #0FB458 64%, #01B90E 100%);
    padding: 15px 0px 15px 0px;
  }

.sectionwelcome .lefside{
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 1em;
    font-weight:600;
    color: #fff;
    align-items: center;
    letter-spacing: 0.5px;
    text-align: justify;
}

.lefside input{
    width: 220px;
    height: 32px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 15px;
    color: #000;  
    font-size: 0.7em;
}

.lefside button{
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    background-color:#01013f;
    color: #fff;
}

.sectionwelcome .rightside{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside .formregister {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #fff;
    width: 250px;
    border-radius: 15px;
    padding: 0px 10px 10px;
}

.title {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 0px;
    color: #01013f;
}
.subtitle{
    text-align: justify; 
    font-weight: normal; 
    font-size: 14px;
    color: #000;
}

.inputform {
    position: relative;
    height: 45px;
    width: 90%;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    border: 2px solid #01013f;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 400; 
    padding: 0px 10px 0px 8px;
    outline: none;
    background: none;
    z-index: 1;
  }

.submitbtn {
width: 100%;
display: block;
padding: 5px 5px;
height: 30px;
border: none;
background-color: #01013f;
color: white;
border-radius: 20px;
cursor: pointer;
font-size: 16px;
margin-top: 5px;
}

.submitbtn:hover {
    background-color: #171730;
    transform: translateY(-2px);
}